<div id="inner-container">

  <h1>THE URL SHARTENER!</h1>

  <%= render "form", url: @url %>
  
  <div id="error-catcher"></div>
    <% if @errors %>
      <%= render "urls/errors" %>
    <% end %>
  </div>
  
</div>